/* Variables */
:root {
  --basic-yellow: #FFC600;
  --basic-yellow-special: #F7E296;
  --basic-yellow-dark: #F0C52E;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-grey-light: #E5E5E5;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-grey-special: #D9D9D9;
  --basic-grey-special-light: #EBEBEB;
  --basic-green: #91C92F;
  --basic-half-grey: #7E7E7E;
  --basic-pink: #F6DADA;
}

/* Fonts */
@font-face {

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;

  src: local("Gilroy"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;

  src: local('Gilroy'),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;

  src: local("Open Sans"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}


@font-face {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;

  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Button */

.button {
  display: inline-block;
  height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: var(--basic-black);
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  z-index: 1;
}

.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: var(--basic-yellow-dark);
  z-index: -2;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background-color: var(--basic-yellow-dark);
}


/* Hover Active */

.op-hover a:hover,
.breadcrumbs-item a:hover,
.footer-logo:hover,
.number:hover,
.sorting-item a:hover,
.menu-item-link:hover span {
  opacity: 0.6;
}

.op-active a:active,
.footer-logo:active,
.menu-item-link:active span {
  opacity: 0.3;
}

.button:active,
.slider-item-button:active,
.back-ahead-btns:active {
  color: rgba(0, 0, 0, 0.3)
}

.popular-item-container:hover {
  background-color: var(--basic-yellow-dark);
}


/* Header */

.main-header {
  display: grid;
  background-image: linear-gradient(var(--basic-white) 20px, var(--basic-yellow-special) 20px);
  margin-top: 40px;
  min-height: 206px;
}

.main-header-wrapper,
.catalog-container {
  width: 1040px;
  margin: 0 auto;
}

.header-logo {
  display: block;
  margin-bottom: 29px;

}

.user-nav {
  display: flex;
  margin-bottom: 50px;
}

.search {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  flex-basis: 50%;
  display: flex;
}

.search input {
  border: none;
  background-color: transparent;
  padding-left: 22px;
  background-image: url(/img/icon-search.svg);
  background-position: 0 3px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-bottom: 2px solid transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.search button {
  font-family: "Open Sans", Arial, sans-serif;

  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
}

.search input:focus {
  border-bottom-color: #000000;
  color: #000000;
}

.search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search input:focus~button {
  opacity: 1;
  visibility: visible;
}

.user-list {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);

  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

.user-list a {
  color: var(--basic-black);
  padding-left: 23px;
  display: flex;
  align-items: center;
}

.login-link svg {
  margin-right: 11px;
}

.compare-link svg,
.basket-link svg {
  margin-right: 12px;
}

.user-item:nth-child(2) {
  margin-left: auto;
  margin-right: 40px;
}


.menu {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--basic-black);
  display: flex;
  justify-content: space-between;

}

.menu a {
  color: var(--basic-black);
}

.menu-item {
  margin-right: 38px;

}

.menu-item:first-child {
  flex-basis: 50%;
  margin-right: 0;
}

.menu-item:last-child {
  margin: 0 0 0 73px;
}

.menu-item-link-stuff {
  display: flex;
}

.menu-item-link-stuff::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(/img/icon-plus.svg);
  background-repeat: no-repeat;
  margin-left: 16px;
}

.submenu {
  font-family: "Open Sans", Arial, sans-serif;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-black);
  display: none;
}



/* Slider */
.slider {

  position: relative;
  background-image: linear-gradient(var(--basic-yellow-special) 114px, var(--basic-white) 114px);
  margin-bottom: 76px;
}

.slider-container {
  width: 1024px;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  bottom: 164px;

  right: 66px;

  z-index: 20;

  width: 72px;
  display: flex;
  justify-content: space-between;
}

.slider-controls button {
  display: flex;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current:after {

  margin: auto;
  content: "";
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  color: var(--basic-black);
}

.slider-item {
  display: none;
  position: relative;
}



.slider::after {
  content: "";
  right: 460px;

  position: absolute;
  display: block;
  top: 20px;
  width: 100px;
  height: 7px;
  background-color: #FFFFFF;
}

.slide1::before {
  position: absolute;
  content: "01";
  top: -31px;
  right: -20px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.slide2::before {
  position: absolute;
  content: "02";
  top: -31px;
  right: -45px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;

  color: #FFFFFF;
}


.slide3::before {
  position: absolute;
  content: "03";
  top: -31px;
  right: -45px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.slider-item-current {
  display: grid;
  grid-template-columns: 50% 50%;
}

.slider-item-content {

  padding: 79px 0 0 20px;
}


.slider-item-title {
  margin-bottom: 30px;
}

.slider-item-text {
  width: 478px;
  color: var(--basic-black);
  margin-bottom: 60px;
}

.slider-item-detailed-link {
  display: inline-block;
  margin-bottom: 60px;
}

.slider-item-table {
  display: grid;
  grid-template-rows: 45px 40px;
  row-gap: 15px;
}

.slider-item-table tbody {
  order: 1;
}

.table-head {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 15px;

}

.table-body {
  display: grid;
  grid-template-columns: 33% 33% 33%;

}

.slider-item-table td {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3.6px;

  color: var(--basic-black);



}

.slider-item-table th {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;

  color: var(--basic-black);


}

/* Popular */

.popular-list {
  width: 1160px;
  min-height: 282px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.popular-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  width: 160px;
  display: block;


  color: var(--basic-black);
}

.popular-item {
  position: relative;
}



.popular-item-container {
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  position: relative;
  width: 160px;
  height: 160px;
  background-color: var(--basic-yellow-special);
}

.popular-item-container:active::before {
  opacity: 0.3;
}


.popular-item-container1::before {
  position: absolute;
  content: "";

  display: block;
  width: 97px;
  height: 55px;
  background-image: url(/img/vr.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.popular-item-container2::before {
  position: absolute;
  content: "";

  display: block;
  width: 86px;
  height: 117px;
  background-image: url(/img/monopod.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-item-container3::before {
  position: absolute;
  content: "";

  display: block;
  width: 71px;
  height: 87px;
  background-image: url(/img/camera.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-item-container4::before {
  position: absolute;
  content: "";

  display: block;
  width: 107px;
  height: 65px;
  background-image: url(/img/fitnes-tracker.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-item-container5::before {
  position: absolute;
  content: "";

  display: block;
  width: 56px;
  height: 98px;
  background-image: url(/img/smartwatch.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popular-item-container6::before {
  position: absolute;
  content: "";

  display: block;
  width: 132px;
  height: 69px;
  background-image: url(/img/quadcopter.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Services */

.services {
  min-height: 403px;
  position: relative;
  background-image: linear-gradient(var(--basic-white) 115px, var(--basic-grey-light) 115px);
  margin-bottom: 90px;
}

.services-container {
  width: 1160px;
  display: flex;
  padding-top: 86px;
}

.services-item {
  display: none;
  width: 760px;
  position: relative;
}

.services-item-current {
  display: block;
}

.services-item1::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url(/img/delivery.svg);
  top: 0;
  right: 0;
}

.services-item2::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 171px;
  height: 195px;
  background-image: url(/img/warranty.svg);
  top: -22px;
  right: 0;
}

.services-item3::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 156px;
  height: 188px;
  background-image: url(/img/credit.svg);
  top: -25px;
  right: 0;
}


.services-container:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 581px;
  width: 7px;
  min-height: 320px;
  background-color: var(--basic-black);
}



.services-button-list {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.services-list {
  width: 760px;
}

.services-item h3 {

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.services-item p {
  width: 495px;
  line-height: 28px;
  letter-spacing: 1.5px;
  margin: 0;
  color: var(--basic-black);
}

.services-button {

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;


  letter-spacing: 0.2em;
  text-transform: uppercase;

  min-width: 160px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-bottom: 40px;
  outline: none;
}



.services-button-list .services-button-current {
  width: 277px;
  height: 40px;
  color: var(--basic-yellow-special);
  background-color: var(--basic-black);
  z-index: inherit;
  text-align: left;
  padding-left: 19px;
  outline: none;
  border: none;
}



/* Logotypes */

.logotypes-list {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 90px;
}

.logotypes-item-link {
  margin-right: 40px;
}

.logotypes-item-link img {
  filter: grayscale(100%);
}

.logotypes-item-link img:hover {
  filter: none;
}

/* Info */
.contact-info {
  width: 1160px;
  display: grid;
  grid-template-columns: 50% 50%;
}


.info p {
  line-height: 28px;

  color: var(--basic-black);
}

.info-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  color: var(--basic-black);
}


/* Contact */

.contact p {
  line-height: 28px;
  color: var(--basic-black);
}


/* Footer */



.footer {
  background-color: var(--basic-dark);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 3.5fr 5.5fr 4fr;
  grid-template-rows: 1fr 127px 1fr;
  grid-template-areas:
    "logo . user"
    "adress services tel"
    ". socials html";

}

.footer-logo2 {
  grid-area: logo;
}

.footer-logo2 svg {
  fill: var(--basic-yellow-dark);
}

.footer-user-list {
  grid-area: user;
}

.footer-services-list {
  grid-area: services;
}

.address {
  grid-area: adress;
}

.phone {
  grid-area: tel;
}

.socials-list {
  grid-area: socials;
}

.footer-logo-academy {
  grid-area: html;
}

.footer-user-list a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-list a:hover {
  color: var(--basic-white);
}

.footer-user-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.address,
.phone {
  color: var(--basic-white);
}

.footer-services-list a {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: var(--basic-white);
}


.socials-list a {
  color: var(--basic-white);
}

/* _________________________________________CATALOG */

.user-item .logout-link {
  color: rgba(0, 0, 0, 0.3);
}

.submenu-item-link-active {
  pointer-events: none;
  cursor: default;
}

/* Breadcrumbs */




.breadcrumbs-item a {
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);

  opacity: 0.3;
}


.breadcrumbs-item-active {
  pointer-events: none;
  cursor: default;
}




.breadcrumbs-item a:active {
  opacity: 0.1;
}



.filter-sorting-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.catalog-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;


  letter-spacing: 1.6px;
  text-transform: uppercase;

  color: var(--basic-black);
}


/* Sorting */

.sorting {
  display: grid;

}

.sorting-item a {

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);

  opacity: 0.3;
}

.sorting-list {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

.number {
  opacity: 0.3;
}

.sorting-item .sorting-link-active,
.sorting-item a:active,
.number-active,
.number:active {
  opacity: 1;
  pointer-events: none;
  cursor: default;
}


.goods-item-title {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.05em;
  /* 0.9px*/

  color: var(--basic-black);

}

.goods-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.8px;

}


.pagination-list {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 1.6px;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--basic-grey-special-light);
}

.pagination-list a {
  color: var(--basic-black);
}




.back-ahead-btns:hover {
  background-color: var(--basic-grey-special);
}

/* Footer */
