/* Variables */
:root {
  --basic-yellow: #FFC600;
  --basic-yellow-special: #F7E296;
  --basic-yellow-dark: #F0C52E;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-grey-light: #E5E5E5;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-green: #91C92F;
  --basic-half-grey: #7E7E7E;
  --basic-pink: #F6DADA;
}

/* Fonts */
@font-face {

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;

  src: local("Gilroy"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;

  src: local('Gilroy'),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;

  src: local("Open Sans"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}


@font-face {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;

  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}

.clear-list {
  list-style: none;
}


/* Button */

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: var(--basic-black);

  background-color: var(--basic-yellow-dark);
  vertical-align: middle;
  cursor: pointer;
}


/* Hover Active */

.op-hover a:hover,
.breadcrumbs-item a:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.op-active a:active,
.footer-logo:active {
  opacity: 0.3;
}

.button:active,
.slider-item-button:active {
  color: rgba(0, 0, 0, 0.3)
}

.popular-item:hover {
  background-color: var(--basic-yellow-dark);
}

.services-button:active {
  color: var(--basic-yellow-special);
  background-color: var(--basic-black);
}


/* Header */

.main-header {
  background-color: var(--basic-yellow-special);
}

.search {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.user-list {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);

}


.user-list a {
  color: var(--basic-black);
}

.menu {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 1.8px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.menu a {
  color: var(--basic-black);
}

.submenu {
  font-family: "Open Sans", Arial, sans-serif;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: var(--basic-black);
}

/* Slider */



.title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  color: color: var(--basic-black);
}


.slider-list p {
  color: color: var(--basic-black);
}

.slider-item-table td {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3.6px;

  color: var(--basic-black);
}

.slider-item-table th {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.3px;

  color: var(--basic-black);
}

/* Popular */



.popular-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.9px;

  color: var(--basic-black);
}


.popular-item {
  background-color: var(--basic-yellow-special);
}




/* Services */



.services-item p {

  line-height: 28px;
  letter-spacing: 1.5px;

  color: var(--basic-black);
}






/* Logotypes */

/*filter: grayscale(100%); - для серых логотипов */


/* Info */

.info p {
  line-height: 28px;

  color: var(--basic-black);
}

.info-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  color: var(--basic-black);
}


/* Contact */

.contact p {
  line-height: 28px;
  color: var(--basic-black);
}


/* Footer */

.footer {
  background-color: var(--basic-dark);
}


.footer-user-list a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-list a:hover {
  color: var(--basic-white);
}

.footer-user-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.address,
.phone {
  color: var(--basic-white);
}

.footer-services-list a {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: var(--basic-white);
}


.socials-list a {
  color: var(--basic-white);
}

/* _________________________________________CATALOG */

.user-item .logout-link {
  color: rgba(0, 0, 0, 0.3);
}

/* Breadcrumbs */




.breadcrumbs-item a {
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);

  opacity: 0.3;
}


.breadcrumbs-item-active {
  pointer-events: none;
  cursor: default;
}

/* Так делаем ссылку некликабельной в данном случае?*/



.breadcrumbs-item a:active {
  opacity: 0.1;
}

.catalog-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;


  letter-spacing: 1.6px;
  text-transform: uppercase;

  color: var(--basic-black);
}


/* Sorting */

.sorting-item a {

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: var(--basic-black);

  opacity: 0.3;
}

/* Тут вроде не работает как должно + со стрелками вниз-вверх пока тоже хз что делать*/

.sorting-item a:hover {
  opacity: 0.6;
}

.sorting-item .sorting-link-active {
  opacity: 1;
  pointer-events: none;
  cursor: default;
}

.sorting-item a:active {
  opacity: 1;
}

.goods-item-title {
  font-family: "Gilroy", Arial, sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.05em;
  /* 0.9px*/

  color: var(--basic-black);

}

.goods-item-price {
  font: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  /*0.8px*/
}


.nav-menu a {
  color: var(--basic-black);
}


/* Footer */
